<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>管理员首页</title>
</head>

<body>

<!-- Default panel contents -->
<div>文章列表</div>
<div>
    <p><a th:href="@{/admin/write}" role="button">写博客</a></p>
</div>

<table>
    <tr>
        <td>编号</td>
        <td>标题</td>
        <td>摘要</td>
        <td>发表时间</td>
        <td style="text-align: center" colspan="2">操作</td>
    </tr>
    <tr th:each="articles:${articles}">
        <td th:text="${articles.id}"></td>
        <td th:text="${articles.title}"></td>
        <td th:text="${articles.summary}"></td>
        <td th:text="${articles.date}"></td>
        <td><a th:href="@{'/admin/update/'+${articles.id}}">修改</a></td>
        <td><a th:href="@{'/admin/delete/'+${articles.id}}">删除</a></td>
    </tr>
</table>

</body>
</html>