<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>首页</title>
</head>

<body>
<!--引入导航栏-->

<div th:if="${not #lists.isEmpty(articles)}">
    <div class="row">
        <h1>index page</h1>
        <div th:each="articles:${articles}">
            <h3 th:text="${articles.title}"></h3>
            <span class="summary" th:text="${articles.summary}"></span>
            <p>
                <a class="btn btn-primary btn-lg" th:href="@{'/article/detail/'+${articles.id}}" role="button">阅读全文</a>
            </p>
        </div>
    </div>

</div>

</body>
</html>